* {
  margin: 0;
  padding: 0;
}
body {
  background: white !important;
  outline: none;
  color: rgba(18, 18, 18, 1) !important;
}
.container-fluid {
  width: 89.583vw !important;
  margin: 0 auto;
  padding: 0 !important;
}
.main-block_fon {
  background-image: url(/assets/images/main/fon-main.png);
  /* на модалке в этом классе .fon-content_main-number */
  background-repeat: no-repeat;
  max-width: 100%;
  height: auto;
  display: block;
  border-radius: 16px;
  padding: 46px 21px 23px 21px;
  background-position: center center;
  background-size: cover;
}
.fon-content_top-text {
  display: grid;
  justify-items: center;
  gap: 24px;
}
.fon-content_top-btn {
  display: flex;
  justify-content: center;
  margin-top: 24px;
  margin-bottom: 14.607vh;
}
.fon-top_title {
  font-family: "Sansation";
  font-size: 3.333vw;
  font-weight: 400;
  line-height: normal;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.main-fon_content {
  display: grid;
}
.fon-content_top {
  display: grid;
}
.fon-top_text {
  font-family: "Sansation";
  font-size: 1.042vw;
  font-weight: 400;
  line-height: normal;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  width: 32.24vw;
}
.fon-content_main-number {
  display: flex;
  justify-content: flex-end;
  gap: 40px;
}
.fon-content_number-block {
  display: grid;
  justify-items: center;
}
.number-block_title {
  font-family: "Sansation";
  font-size: 2.188vw;
  font-weight: 700;
  line-height: normal;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: white;
}
.number-block_text {
  color: white;
  font-family: "Sansation";
  font-size: 1.042vw;
  font-weight: 400;
  line-height: normal;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.link-main {
  background: rgba(26, 95, 188, 1);
  padding: 0.417vw 0.417vw 0.417vw 1.25vw;
  gap: 0.625vw;
  border-radius: 100px;
}
.link-main {
  font-family: "Rubik";
  font-size: 0.833vw;
  font-weight: 400;
  line-height: normal;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
  text-transform: uppercase;
}
.arr-icon {
  background-color: white;
  width: 3.125vw;
  height: 2.083vw;
  padding: 0.677vw 1.302vw;
  gap: 10px;
  border-radius: 100px;
}
.fon-content_bottom {
  display: grid;
  gap: 1.25vw;
  margin-top: 4.927vh;
  width: 100%;
  /* height: 180px; */
  border-radius: 16px;
  background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.6),
      rgba(255, 255, 255, 0.6)
    ),
    linear-gradient(
      7.35deg,
      rgba(255, 255, 255, 0) 5.23%,
      rgba(255, 255, 255, 0.2) 76.35%
    );
  border: 1px solid rgba(255, 255, 255, 1);
  backdrop-filter: blur(2px);
  padding: 1.458vw;
}
.fon-content_bottom-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.563vw;
  height: 2.344vw;
}
.fon-content_bottom-form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.521vw;
}
.search-button {
  display: flex;
  align-items: center;
  gap: 0.625vw;
  font-family: "Rubik";
  font-size: 0.833vw;
  font-weight: 400;
  line-height: normal;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  background: rgba(26, 95, 188, 1);
  padding: 0.417vw 0.417vw 0.417vw 1.25vw;
  gap: 0.625vw;
  border-radius: 100px;
  border: none;
  margin-left: 0.521vw;
}
.dropdowns {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 0.313vw;
}
.search-button_svg {
  width: 1.042vw;
  background-color: white;
  width: 3.125vw;
  height: 2.083vw;
  padding: 0.477vw;
  gap: 10px;
  border-radius: 100px;
}
#vin,
#number {
  display: none;
}

.dropdowns-select_item {
  width: 14.344vw;
  height: 2.708vw;
  padding: 0.833vw 1.042vw;
  border-radius: 100px;
  background: rgba(238, 241, 244, 1);
  border: none;
  font-family: "Sansation";
  font-size: 0.833vw;
  font-weight: 400;
  line-height: normal;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  position: relative; /* Добавление позиции */
  z-index: 1; /* Установка индекса z */
  border: none;
  outline: none;
}

.dropdowns-select_item option {
  padding: 0.833vw 1.042vw;
  font-size: 0.833vw;
  font-weight: 400;
  line-height: normal;
  text-align: left;
  display: none;
}

.dropdowns-select_item:focus option {
  width: auto;
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
  background: rgba(238, 241, 244, 1);
  border: none;
  border-radius: 0 0 100px 100px;
  z-index: 1;
}

.dropdowns-select_item:focus option:hover {
  background-color: #f0f0f0;
}
.dropdowns-select_item option:checked::before {
  content: "\2713";
  font-size: 0.833vw;
  color: #333;
  padding-right: 10px !important;
}
.btn-search {
  font-family: "Sansation";
  font-size: 1.042vw;
  font-weight: 400;
  line-height: normal;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  border: none;
  background: none;
  color: rgba(114, 114, 114, 1);
  outline: none;
}
.btn-search_active {
  color: rgba(18, 18, 18, 1);
}
.vertical-strip {
  height: 100%;
  width: 2px;
  border-left: 2px solid rgba(0, 0, 0, 0.2);
}
.brand-content_bottom {
  display: flex;
  justify-content: center;
}
.arr-bottom_text {
  display: flex;
  gap: 15px;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: rgba(26, 95, 188, 1);
  font-family: "Rubik";
  font-size: 0.833vw;
  font-weight: 400;
  line-height: normal;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  text-transform: uppercase;
}
.arr-bottom_icon {
  width: 0.729vw;
}
.main-brand_content {
  display: grid;
  gap: 50px;
}
.brand-content_top {
  display: grid;
  justify-content: end;
}
.brand-content_main {
  display: flex;
  flex-wrap: wrap;
  gap: 1.094vw;
  justify-content: space-between;
}
.brand-main_item {
  border-radius: 16px;
  border: 1px solid rgba(216, 224, 233, 1);
  padding: 1vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.image-brand {
  width: 4.167vw;
  height: 4.167vw;
}
.main-brand {
  margin-top: 5.333vw;
  margin-bottom: 9.219vw;
}
.custom-select {
  position: relative;
  display: inline-block;
  width: 13.517vw;
}
.view-block_select {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
  background-color: white;
  border: 2px solid rgba(18, 18, 18, 1);
  border-radius: 100px;
  padding: 1.042vw;
  cursor: pointer;
  text-align: center;
  font-family: "Sansation";
  font-size: 0.833vw;
  font-weight: 400;
  line-height: normal;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  text-transform: uppercase;
}
.select-items {
  position: absolute;
  background-color: white;
  border: 2px solid rgba(18, 18, 18, 1);
  border-radius: 5px;
  width: 100%;
  z-index: 1;
  display: none;
}
.select-icon {
  margin-top: -3px;
  width: 1vw;
  /* height: 2.042vw; */
}
.select-item {
  font-size: 0.729vw;
  padding: 10px;
  cursor: pointer;
}
.select-item:hover {
  background-color: rgba(26, 95, 188, 0.1);
}
.select-show {
  display: block;
}
/* details */
.main-details {
  margin: 18vh 0;
}
.main-details_content {
  display: grid;
  gap: 80px;
}
.details-content_main {
  display: flex;
  justify-content: space-between;
  gap: 2.604vw;
}

.details-content_main-left {
  width: 43.61vw;
  display: grid;
  gap: 50px;
}
.details-content_main-rigth {
  width: 43.61vw;
  display: grid;
  align-items: end;
}
.arr-icon_svg {
  width: 0.529vw;
}
.details-main_rigth-car {
  position: relative;
}
.image-car {
  position: relative;
  width: 42.604vw;
}
.details-left_top {
  display: flex;
  justify-content: space-between;
}
.details-left_top-categories {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.76vw;
}
.details-left_top-categories .btn-search {
  display: flex;
  align-items: center;
  gap: 0.521vw;
}
.details-select {
  position: relative;
  display: inline-block;
  width: auto;
}
.details-top_categories-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: rgba(238, 242, 246, 1);
  padding: 0.417vw;
  gap: 0.625vw;
  border-radius: 100px;
}
.catalog-btn {
  border: none;
  background: none;
  font-family: "Sansation";
  font-size: 0.833vw;
  font-weight: 400;
  line-height: normal;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  padding: 0.677vw;
}
.catalog-btn_active {
  background-color: rgba(18, 18, 18, 1);
  color: white;
  border-radius: 100px;
}
.details-left_bottom {
  display: grid;
  gap: 12px;
  overflow-y: scroll;
  height: 28.813vw;
}
.details-left_bottom::-webkit-scrollbar {
  width: 4px;
}
.details-left_bottom::-webkit-scrollbar-track {
  -webkit-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.2) inset;
  background: rgba(217, 217, 217, 1);
  border-radius: 16px;
}
.details-left_bottom::-webkit-scrollbar-thumb {
  background-color: blue;
  border-radius: 16px;
  border: 4px solid rgba(18, 18, 18, 1);
}
.details-main_rigth-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.details-left_bottom-item {
  display: flex;
  height: 8.854vw;
}
.details-bottom_item-block {
  border: 1px solid rgba(216, 224, 233, 1);
  width: 12.396vw;
  height: 8.854vw;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.details-item_block-image {
  width: 10.196vw;
  height: 7.2vw;
}
.details-bottom_item-content {
  padding: 0.833vw 1.25vw 0.417vw 1.563vw;
  display: grid;
  gap: 0.833vw;
  width: -webkit-fill-available;
}
.details-bottom_item-content_title {
  font-family: "Sansation";
  font-size: 0.938vw;
  font-weight: 700;
  line-height: normal;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.details-item_box-container {
  display: flex;
  gap: 1.25vw;
}
.details-bottom_item-content-box {
  display: grid;
  gap: 0.573vw;
}
.details-item_box {
  display: grid;
  gap: 0.573vw;
}
.details-item_box-stamp {
  color: rgba(184, 184, 184, 1);
  font-family: "Sansation";
  font-size: 0.833vw;
  font-weight: 400;
  line-height: normal;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.details-item_box-stamp_text {
  font-family: "Sansation";
  font-size: 0.938vw;
  font-weight: 400;
  line-height: normal;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: rgba(184, 184, 184, 1);
}
.details-item_box-number {
  font-family: "Sansation";
  font-size: 0.833vw;
  font-weight: 400;
  line-height: normal;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: rgba(105, 110, 118, 1);
}
.details-item_box-number_text {
  font-family: "Sansation";
  font-size: 0.938vw;
  font-weight: 400;
  line-height: normal;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: rgba(105, 110, 118, 1);
}
.details-bottom_item-arr {
  width: 2.292vw;
  height: 2.292vw;
  background-color: rgba(26, 95, 188, 1);
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.test-btn_car {
  border: none;
}
.circle1 {
  position: absolute;
  bottom: 10.333vw;
  left: 13.417vw;
  width: 1.667vw;
  height: 1.667vw;
  background-color: rgba(238, 242, 246, 1);
  border-radius: 50%;
  z-index: 2;
}
.circle2 {
  transform: translate(60%, 60%);
  width: 0.729vw;
  height: 0.729vw;
  background-color: rgba(105, 110, 118, 1);
  border-radius: 50%;
  z-index: 2;
}
.circle-text {
  display: none;
}
.circle1:hover {
  z-index: 5;
  transform: translate(-25%, 20%);
  width: 3.125vw;
  height: 3.125vw;
  background-color: white;
  .circle2 {
    transform: translate(45%, 50%);
    width: 1.667vw;
    height: 1.667vw;
    background-color: rgba(238, 242, 246, 1);
  }
  .circle3 {
    transform: translate(60%, 60%);
    width: 0.729vw;
    height: 0.729vw;
    background-color: rgba(18, 18, 18, 1);
    border-radius: 50%;
    z-index: 5;
  }
  .circle-text {
    position: absolute;
    top: -1vw;
    right: -5.788vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(
        0deg,
        rgba(255, 255, 255, 0.8),
        rgba(255, 255, 255, 0.8)
      ),
      linear-gradient(
        7.35deg,
        rgba(255, 255, 255, 0) 5.23%,
        rgba(255, 255, 255, 0.6) 76.35%
      );
    width: 5.35vw;
    height: 2.552vw;
    border-radius: 0px 100px 100px 0px;
    font-family: "Sansation";
    font-size: 1.042vw;
    font-weight: 700;
    line-height: normal;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: rgba(18, 18, 18, 1);
  }
}

/* company */
.main-about-company {
  margin: 180px 0;
}
.main-company_content {
  display: grid;
  justify-items: center;
  gap: 90px;
}
.main-company_content-top {
  display: grid;
  justify-items: center;
  gap: 50px;
}
.company_content-top_title {
  width: 60.833vw;
  font-family: "Sansation";
  font-size: 3.125vw;
  font-weight: 400;
  line-height: normal;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.company_content-top_text {
  width: 53.646vw;
  font-family: "Sansation";
  font-size: 1.042vw;
  font-weight: 400;
  line-height: inherit;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.company_content-top_dash {
  border: 3px solid var(--Blue, rgba(26, 95, 188, 1));
  width: 8.333vw;
}
.main-company_content-bottom {
  display: flex;
  gap: 24px;
}
.company_content-bottom_item {
  display: grid;
  justify-items: center;
  gap: 24px;
  height: fit-content;
}
.company_item-top_icon {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(216, 224, 233, 1);
  width: 5.729vw;
  height: 5.729vw;
  padding: 1.563vw;
  border-radius: 100%;
}
.company_item-icon_image {
  width: 2.604vw;
}
.company-bottom_item-top {
  display: grid;
  justify-items: center;
  gap: 27px;
  height: fit-content;
}
.company_item-top_title {
  font-family: "Sansation";
  font-size: 1.563vw;
  font-weight: 700;
  line-height: normal;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: rgba(18, 18, 18, 1);
}
.company-bottom_item-dash {
  border: 3px solid rgba(26, 95, 188, 1);
  width: 4.167vw;
  height: fit-content;
}
.company-bottom_item-text {
  font-family: "Sansation";
  font-size: 1.042vw;
  font-weight: 400;
  line-height: normal;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  width: 15.625vw;
  color: rgba(114, 114, 114, 1);
}
/* popular-products */
.main-popular-products {
  margin: 180px 0;
}
.main-popular-products_top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-products_top-title {
  font-family: "Sansation";
  font-size: 3.125vw;
  font-weight: 400;
  line-height: normal;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.link-catalog_title {
  width: 11vw;
  height: 2.917vw;
  padding: 0.417vw 0.417vw 0.417vw 1.25vw;
  border-radius: 100px;
  background-color: rgba(26, 95, 188, 1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.625vw;
  text-decoration: none;
  color: white;
  font-family: "Rubik";
  font-size: 0.833vw;
  font-weight: 400;
  line-height: normal;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  text-transform: uppercase;
}
/* products_content */
.main-products_content {
  margin-left: 5.4vw !important;
  display: flex;
  margin-top: 50px;
}
.main-products_content-item {
  padding: 0.521vw 0.365vw;
  border: 1px solid rgba(216, 224, 233, 1);
  width: 18.49vw;
  /* height: 24.375vw; */
  border-radius: 16px;
  display: grid;
}
.main-products_item-image {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 17.604vw;
  height: 12.135vw;
  border-radius: 16px;
  background-color: rgba(247, 250, 253, 1);
}
.product-item_image {
  width: 17.604vw;
}
.product-item_block {
  padding: 0.833vw;
  display: grid;
  gap: 0.521vw;
}
.product-block_cardln {
  display: grid;
  gap: 0.521vw;
}
.product-cardln_details {
  display: grid;
  gap: 0.521vw;
}
.product-block_title {
  /* width: 15.937vw; */
  font-family: "Sansation";
  font-size: 0.938vw;
  font-weight: 700;
  line-height: normal;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  text-decoration: none;
  color: rgba(18, 18, 18, 1);
}
.product-block_bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: fit-content;
}
.product-cardln_stamp {
  color: rgba(184, 184, 184, 1);
  font-family: "Sansation";
  font-size: 0.833vw;
  font-weight: 400;
  line-height: normal;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.product-cardln_details-text {
  font-family: "Sansation";
  font-size: 0.833vw;
  font-weight: 400;
  line-height: normal;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: rgba(105, 110, 118, 1);
}
.product-cardln_details-number {
  font-family: "Sansation";
  font-size: 0.938vw;
  font-weight: 400;
  line-height: normal;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: rgba(105, 110, 118, 1);
}
.product-block_bottom-price {
  font-family: "Sansation";
  font-size: 1.25vw;
  font-weight: 400;
  line-height: normal;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: rgba(26, 95, 188, 1);
}
.swiper-slide {
  width: auto;
}
.main-questions {
  margin: 18vh 0;
  overflow: hidden;
}
.main-questions_content-main {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 12.083vw;
  height: 16.563vw;
}
.car-left {
  width: 933px;
  height: 16.563vw;
  transform: scale(-1, 1);
  margin-left: -25.625vw;
  object-fit: cover;
}
.car-rigth {
  width: 933px;
  height: 16.563vw;
  margin-right: -25.625vw;
  object-fit: cover;
}
.questions-content_main {
  display: grid;
  justify-items: center;
  justify-content: center;
  gap: 1.25vw;
  width: 26.104vw;
}
.questions-content_main-foto {
  border: 1px solid rgba(216, 224, 233, 1);
  width: 6.25vw;
  height: 6.25vw;
  padding: 0.521vw;
  border-radius: 1000px;
  position: relative;
}
.image-call {
  width: 5.208vw;
  height: 5.208vw;
}
.questions-content_main-text {
  font-family: "Sansation";
  font-size: 0.938vw;
  font-weight: 400;
  line-height: normal;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: rgba(153, 153, 153, 1);
}
.questions-content_foto-online {
  background: rgba(26, 95, 188, 1);
  width: 0.625vw;
  height: 0.625vw;
  border-radius: 100px;
  position: absolute;
  bottom: 0.417vw;
}
.main-questions_content-top {
  display: none;
}
.icon-svg_btn {
  width: 1.042vw;
}
.arr-icon-svg {
  width: 0.521vw;
}
/* way */
.main-way {
  margin-top: 1.25vw;
  margin-bottom: 1.458vw;
}
.main-way_content {
  display: flex;
  align-items: center;
  gap: 0.313vw;
}
.way-content_title {
  font-family: "Sansation";
  font-size: 0.729vw;
  font-weight: 400;
  line-height: normal;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  text-decoration: none;
  color: rgba(184, 184, 184, 1);
}
.way-content_title-active {
  color: rgba(18, 18, 18, 1);
}
.way-content_indent {
  color: rgba(184, 184, 184, 1);
  font-size: 0.729vw;
}
.main-category_content {
  display: grid;
  gap: 4.167vw;
}
.category_content-top_title {
  font-family: "Sansation";
  font-size: 3.125vw;
  font-weight: 400;
  line-height: normal;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: rgba(18, 18, 18, 1);
}
.main-category_content-main {
  display: flex;
  flex-wrap: wrap;
  gap: 1.06vw;
}
.main-category_content-main_item {
  border: 1px solid rgba(18, 18, 18, 0.1);
  width: 9.01vw;
  height: 9.01vw;
  padding: 1.042vw;
  border-radius: 16px;
  display: grid;
  justify-content: center;
  justify-items: center;
  align-content: space-between;
  text-decoration: none;
}
.main-category_content-main_item:hover {
  background: rgba(18, 18, 18, 0.1);
  animation-timing-function: ease-out;
  animation-duration: 300ms;
}
.category-content_item-title {
  font-family: "Sansation";
  font-size: 1.042vw;
  font-weight: 700;
  line-height: normal;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: rgba(18, 18, 18, 1);
  text-align: center;
}
.category-content_item-image {
  width: 6.667vw;
  height: 4.375vw;
}
.main-contact {
  margin-top: 2.396vw;
}
.map-content_top {
  width: 100%;
  height: 100%;
}
#map {
  width: 89.583vw;
  height: 30.104vw;
}
.main-map_content {
  display: grid;
  gap: 5.208vw;
}
.map-content_bottom {
  display: grid;
  gap: 2.083vw;
}
.map-content_line {
  width: 100%;
  border-top: 1px solid rgba(216, 224, 233, 1);
  display: flex;
  justify-content: right;
}
.map-content_line-block {
  display: grid;
  align-items: center;
  width: 53.646vw;
  margin-top: 1.563vw;
}
.map-content_bottom-title {
  font-family: "Sansation";
  font-size: 3.125vw;
  font-weight: 400;
  line-height: normal;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.contact-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgba(216, 224, 233, 1);
  padding: 1.094vw 0;
}
.contact-item_special {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.094vw 0;
}
.contact-item_title {
  display: flex;
  align-items: center;
  font-family: "Sansation";
  font-size: 0.938vw;
  font-weight: 400;
  line-height: normal;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: rgba(105, 110, 118, 1);
}
.contact-item_text {
  display: flex;
  gap: 0.521vw;
  width: 18.75vw;
  text-align: left;
  font-family: "Sansation";
  font-size: 0.938vw;
  font-weight: 400;
  line-height: normal;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  text-decoration: none;
  color: rgba(18, 18, 18, 1);
}
/* shopping */
.main-basket {
  margin: 6.771vw 0;
}
.main-basket_content {
  display: grid;
  align-items: center;
  justify-content: center;
  justify-items: center;
  gap: 2.083vw;
}
.main-basket_content-block {
  display: grid;
  align-items: center;
  justify-content: center;
  justify-items: center;
  gap: 1.094vw;
}
.shopping-border {
  width: 5.729vw;
  height: 5.729vw;
  padding: 1.563vw;
  border-radius: 1000px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.shopping-border_image {
  width: 2.604vw;
  height: 2.604vw;
}
.main-basket_contentd-title {
  font-family: "Sansation";
  font-size: 2.188vw;
  font-weight: 400;
  line-height: normal;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.main-basket_content-text {
  width: 21.094vw;
  font-family: "Sansation";
  font-size: 0.938vw;
  font-weight: 400;
  line-height: normal;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.main-mistake {
  margin: 6.771vw 0;
}
.main-mistake_content {
  display: grid;
  align-items: center;
  justify-content: center;
  justify-items: center;
}
.main-mistake_content-block {
  display: grid;
  align-items: center;
  justify-content: center;
  justify-items: center;
  gap: 1.25vw;
}
.main-mistake_content-block_title {
  font-family: "Sansation";
  font-size: 6.667vw;
  font-weight: 700;
  line-height: normal;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.main-mistake_content-block_text {
  font-family: "Sansation";
  font-size: 1.667vw;
  font-weight: 400;
  line-height: normal;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
@media (max-width: 48em) {
  .container-fluid {
    margin: 0;
    margin-left: 2.865vw !important;
    margin-right: 2.865vw !important;
    width: 94.27vw !important;
  }
  .main-way {
    margin-top: 9.6vw;
    margin-bottom: 5.333vw;
  }
  .main-way_content {
    gap: 1.6vw;
  }
  .way-content_title {
    font-size: 3.467vw;
  }
  .way-content_indent {
    font-size: 3.467vw;
  }
  .main-block_fon {
    display: grid;
    padding: 0;
    background-image: none;
  }
  .fon-content_main-number {
    background-image: url(/assets/images/main/fon-main.png);
    background-repeat: no-repeat;
    background-position: center 80%;
    background-size: cover;
    width: 100%;
    height: 39.063vw;
    display: flex;
    justify-content: center;
    align-items: start;
    border-radius: 16px;
    padding: 3.2vw;
    order: 1;
  }
  .fon-content_top-text {
    margin-bottom: 10px;
    gap: 5px;
  }
  .fon-content_top-btn {
    margin-bottom: 30px;
    margin-top: 30px;
    order: 2;
  }
  .fon-content_bottom-btn {
    justify-content: space-around;
    height: auto;
  }
  .dropdowns {
    flex-wrap: wrap;
    gap: 2.667vw;
  }
  .dropdowns-select_item {
    width: auto;
    height: auto;
    padding: 2.133vw 2.667vw;
    background: white;
    font-size: 3.2vw;
  }
  .fon-top_title {
    font-size: 5.333vw;
    width: 100%;
    text-align: center;
  }
  .fon-top_text {
    font-size: 3.467vw;
    width: 43.099vw;
    text-align: center;
  }
  .number-block_title {
    font-size: 3.733vw;
  }
  .number-block_text {
    font-size: 2.933vw;
    text-align: center;
  }
  .link-main {
    order: 2;
    font-size: 3.2vw;
    padding: 1.242vw 1.242vw 1.242vw 1.942vw;
    gap: 1.333vw;
  }
  .arr-icon {
    width: 9.333vw;
    height: 6.333vw;
    padding: 1.6vw;
  }
  .fon-content_bottom {
    gap: 6.933vw;
    border-radius: 10px;
    margin-top: 0;
    padding: 3.2vw 2.667vw;
    background-color: rgba(226, 226, 226, 1);
  }
  .btn-search {
    font-size: 3.2vw;
  }
  .search-button_svg {
    width: 9.333vw;
    height: 6.333vw;
    padding: 1.6vw;
  }
  .search-button {
    font-size: 3.2vw;
    padding: 1.242vw 1.242vw 1.242vw 1.942vw;
    gap: 1.333vw;
  }
  /* brand */
  .main-brand_content {
    gap: 4vw;
  }
  .brand-content_bottom {
    order: 2;
  }
  .brand-content_main {
    order: 3;
    gap: 1.953vw;
  }
  .arr-bottom_text {
    font-size: 3.467vw;
  }
  .arr-bottom_icon {
    width: 3.255vw;
  }
  .custom-select {
    width: 100%;
  }
  .details-select {
    width: auto;
  }
  .details-main_rigth-car {
    width: 94vw;
    height: 53.067vw;
  }
  .image-car {
    width: 94vw;
    height: 53.067vw;
  }
  .view-block_select {
    font-size: 3.2vw;
    width: fit-content;
    padding: 2.133vw 2.667vw;
  }
  .select-icon {
    width: 3.255vw;
  }
  .select-item {
    font-size: 12px;
  }
  .brand-main_item {
    width: 20vw;
    height: 20vw;
    padding: 3.2vw;
  }
  .image-brand {
    width: 13.333vw;
    height: 13.333vw;
  }
  /* details  */
  .main-details {
    margin: 13.333vw 0;
  }
  .details-left_top {
    display: grid;
    justify-items: center;
    justify-content: space-between;
    gap: 6.933vw;
    width: 94vw;
  }
  .details-content_main {
    display: grid;
    width: 94.27vw;
  }
  .details-content_main-left {
    width: 94.27vw;
  }
  .details-content_main-rigth {
    width: 100%;
    gap: 16px;
  }
  .icon-svg_btn {
    width: 2.5vw;
    height: 2vw;
  }
  .details-left_top-categories {
    /* gap: 31px; */
    width: 94vw;
    height: 30px;
    justify-content: space-evenly;
  }
  .catalog-btn {
    font-size: 3.467vw;
    padding: 3.2vw 5.333vw;
  }
  .circle1 {
    position: absolute;
    bottom: 18.333vw;
    left: 28.417vw;
    width: 6.667vw;
    height: 6.667vw;
  }
  .circle2 {
    transform: translate(60%, 60%);
    width: 2.933vw;
    height: 2.933vw;
  }
  .circle-text {
    display: none;
  }
  .circle1:hover {
    z-index: 5;
    transform: translate(0%, 0%);
    width: 6.667vw;
    height: 6.667vw;
    .circle2 {
      transform: translate(40%, 40%);
      width: 3.547vw;
      height: 3.547vw;
    }
    .circle3 {
      transform: translate(60%, 60%);
      width: 1.667vw;
      height: 1.667vw;
    }
    .circle-text {
      position: absolute;
      top: -2vw;
      right: -17vw;
      width: 16.3vw;
      height: 5.8vw;
      font-size: 3.547vw;
    }
  }
  .details-left_bottom {
    height: 83.467vw;
    gap: 0px;
  }
  .details-left_bottom-item {
    height: 28vw;
    align-items: center;
  }
  .details-bottom_item-block {
    width: 26.6vw;
    height: 21.133vw;
  }
  .details-item_block-image {
    width: 18vw;
    height: 15.6vw;
  }
  .details-bottom_item-content_title {
    font-size: 3.2vw;
  }
  .details-item_box-stamp {
    font-size: 3.2vw;
  }
  .details-item_box-stamp_text {
    font-size: 3.2vw;
  }
  .details-item_box-number {
    font-size: 2.933vw;
  }
  .details-item_box-number_text {
    font-size: 2.933vw;
  }
  .details-item_box-container {
    gap: 24px;
  }
  .details-left_bottom-item .product-block_bottom {
    margin-top: 0;
  }
  .details-bottom_item-arr {
    width: 4.8vw;
    height: 4.8vw;
  }
  .arr-icon-svg {
    width: 1.6vw;
  }
  /* about */
  .main-about-company {
    margin: 13.333vw 0;
  }
  .main-company_content {
    gap: 50px;
  }
  .main-company_content-top {
    gap: 20px;
  }
  .company_content-top_title {
    font-size: 4.8vw;
    width: 71.839vw;
  }
  .company_content-top_text {
    font-size: 3.467vw;
    width: 100%;
  }
  .company_content-top_dash {
    height: 1.5px;
    width: 160px;
    border: 1.5px solid rgba(26, 95, 188, 1);
  }
  .main-company_content-bottom {
    justify-content: center;
    flex-wrap: wrap;
    gap: 4vw;
  }
  .company_content-bottom_item {
    gap: 10px;
  }
  .company-bottom_item-top {
    gap: 20px;
  }
  .company_item-top_icon {
    width: 10.417vw;
    height: 10.417vw;
  }
  .company_item-icon_image {
    width: 6.51vw;
    height: 6.51vw;
  }
  .company_item-top_title {
    font-size: 3.467vw;
  }
  .company-bottom_item-dash {
    border: 1.5px solid rgba(26, 95, 188, 1);
    width: 80px;
  }
  .company-bottom_item-text {
    font-size: 3.2vw;
    width: 38.4vw;
  }
  /* popular-products */
  .main-popular-products {
    margin: 13.333vw 0;
  }
  .main-products_top-title {
    font-size: 4.267vw;
    width: 42.933vw;
  }
  /* questions */
  .main-questions {
    margin: 13.333vw 0;
  }
  .main-questions_content-top {
    display: grid;
    width: 100vw;
    justify-items: center;
  }
  .main-questions_content-top .header-content_tel {
    display: flex;
    font-size: 1.693vw;
    width: 100%;
  }
  .main-questions_content {
    display: grid;
  }
  .main-questions_content-main {
    width: 100vw;
    height: 21.563vw;
  }
  .main-questions_content-main .questions-content_main {
    display: none;
  }
  .car-left {
    height: 21.563vw;
  }
  .car-rigth {
    height: 21.563vw;
  }
  .questions-content_main-foto {
    width: 15.625vw;
    height: 15.625vw;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .questions-content_foto-online {
    bottom: 0.15vw;
    left: 12px;
    width: 1.563vw;
    height: 1.563vw;
  }
  .image-call {
    width: 13.021vw;
    height: 13.021vw;
  }
  .questions-content_main-text {
    font-size: 1.563vw;
    width: 100%;
  }
  /* products */
  .main-products_content {
    margin-left: 2.865vw !important;
    margin-top: 5.333vw;
  }
  .main-products_content-item {
    width: 42.933vw;
    padding: 2.667vw 2vw;
  }
  .main-products_item-image {
    width: 100%;
    height: 22.933vw;
  }
  .product-item_image {
    width: 38.667vw;
  }
  .product-item_block {
    padding: 0;
    padding-top: 1.6vw;
  }
  .product-block_title {
    font-size: 3.2vw;
    margin-bottom: 2.667vw;
  }
  .product-block_cardln {
    gap: 2.667vw;
  }
  .product-cardln_stamp {
    font-size: 2.933vw;
  }
  .product-cardln_details-text {
    font-size: 3.2vw;
  }
  .product-cardln_details-number {
    font-size: 3.2vw;
  }
  .product-block_bottom-price {
    font-size: 3.467vw;
  }
  .product-block_bottom {
    margin-top: 5.6vw;
  }
  .category_content-top_title {
    font-size: 4.8vw;
  }
  .main-category_content-main {
    justify-content: space-between;
    gap: 2.667vw;
  }
  .main-category_content-main_item {
    width: 42.667vw;
    height: 42.667vw;
    padding: 5.333vw 4.267vw;
  }
  .category-content_item-image {
    width: 34.133vw;
    height: 22.4vw;
  }
  .category-content_item-title {
    font-size: 3.733vw;
  }
  .main-contact {
    margin-top: 9.6vw;
  }
  .main-map_content {
    gap: 5.333vw;
  }
  #map {
    width: 100%;
    height: 50.6vw;
  }
  .map-content_line-block {
    width: 100%;
  }
  .map-content_line {
    border: none;
  }
  .contact-item {
    padding: 4vw 0;
  }
  .map-content_bottom-title {
    font-size: 4.267vw;
  }
  .contact-item_title {
    font-size: 3.467vw;
  }
  .contact-item_text {
    gap: 1.333vw;
    font-size: 3.467vw;
    width: auto;
    text-align: right;
  }
  /* shopping */
  .main-basket {
    margin: 26.667vw 0 29.067vw 0;
  }
  .main-basket_contentd-title {
    font-size: 4.267vw;
  }
  .main-basket_content-text {
    font-size: 3.733vw;
    width: 88.267vw;
  }
  .main-basket_content-block {
    gap: 5.6vw;
  }
  .main-basket_content {
    gap: 5.333vw;
  }
  .shopping-border {
    width: 29.333vw;
    height: 29.333vw;
    padding: 8vw;
  }
  .shopping-border_image {
    width: 13.333vw;
    height: 13.333vw;
  }
  /* main-mistake */
  .main-mistake{
    margin: 26.667vw 0 29.067vw 0;
  }
  .main-mistake_content-block{
    gap: 6.4vw;
  }
  .main-mistake_content-block_title{
    font-size: 12.8vw;
  }
  .main-mistake_content-block_text{
    font-size: 4.267vw;
  }
}
